<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Friends Activity
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Friends Activity</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item-sliding *ngFor="let friend of friends;index as i">
      <ion-item-options side="end">
        <ion-item-option (click)="saveFriend(i)">Save</ion-item-option>
      </ion-item-options>
      <ion-item>
        {{friend.user}}<br>
        {{friend.date}}<br>{{friend.title}}<br>{{friend.location}}
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
