<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{addButton}} Workout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>Title:</ion-label>
      <ion-input type="text" [(ngModel)]="title"  clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-input type="date" [(ngModel)]="date"  clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description:</ion-label>
      <ion-input type="textarea" [(ngModel)]="description"  clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Location:</ion-label>
      <ion-input type="text" [(ngModel)]="location"  clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-img src="https://www.joshmorony.com/media/2015/07/Screenshot-2015-07-16-15.32.56.png"></ion-img>
    </ion-item>
    <ion-item>
      <ion-label>Rating:</ion-label>
      <ion-input type="number" [(ngModel)]="rating" min="0" max = "10" clearInput></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="closeModal()">{{addButton}}</ion-button>
</ion-content>