<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input type="text" value="{{name}}" [(ngModel)]="name" (change)='changeName()'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Notifications:</ion-label>
      <ion-toggle name="notification" checked="{{notification}}" [(ngModel)]="notification" (ionChange)='changeNotification()'></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-datetime name="date" value="{{date}}" (ionChange)='changeDate()' [(ngModel)]="date"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>
